
@font-face {
    font-family: "DB Ozone X";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/DB Ozone/DB Ozone X v3.2.ttf");
}

@font-face {
    font-family: "DB Ozone X";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/DB Ozone/DB Ozone X Med v3.2.ttf");
}

@font-face {
    font-family: "DB Ozone X";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/DB Ozone/DB Ozone X Bd v3.2.ttf");
}






